
{% extends 'base.html' %} {% block title %} Liên hệ
{% endblock title %} {% block content %}
<!DOCTYPE html>
<body>
    <section class="wrapper" >
        <h1></h1>
        <div><span class="dot"></span></div> <!--tao hinh tron-->
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
        <div><span class="dot"></span></div>
    </section>
<html>

    <body>
        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
        <div class="elfsight-app-7dd4dd88-869b-41a1-bfa2-a592a5b65c1e"></div>
        <script src="" async defer></script>
    </body>
</html>

{% endblock content %}
</body>
