{% extends 'base.html' %} {% block title %} Đặt lại liên kết đã gửi {% endblock title %}
{% block content %}
<h1 class="display-4 my-4">Link sent</h1>
<hr />
<p>
  Chúng tôi đã gửi cho bạn hướng dẫn đặt lại mật khẩu qua email nếu bạn có tài khoản
   với email bạn đã nhập. Bạn sẽ nhận được chúng sớm.
</p>
<p>
 Nếu bạn không nhận được email, hãy đảm bảo bạn đã nhập địa chỉ email bạn đã đăng ký và kiểm tra thư mục thư rác.
</p>
<a href="{% url 'login' %}" class="btn btn-primary">Đăng nhập</a>
{% endblock content %}
